<HTML>
<head>
  <title><%= restaurants.name %></title>
  <!--add code[Googlemap]-->
  <!--script for google map??-->
  <!--end add code-->
</head>
<BODY>
<H2><%= restaurants.name %></H2>
<% if (restaurants.photo != null) { %>
<p>
  <img src="data:<%= restaurants.mimetype %>;base64,<%= restaurants.photo %>">
<br>
<% } %>
<p>Name: <%= restaurants.name %></p>
<p>Cuisine: <%= restaurants.cuisine %></p>
<p>Street: <%= restaurants.address.street %></p>
<p>Building: <%= restaurants.address.building %></p>
<p>Zipcode: <%= restaurants.address.zipcode %></p>
<p>GPS: [ <%= restaurants.address.coord[0] %>,  <%=restaurants.address.coord[1] %> ]</p>
<p>Rating: <ol><li> <%=restaurants.rate %></li></ol></p>
<p>Created by: <%=restaurants.username %></p>


<!--Googlemap-->
<p>Google map: coming soon(map will be shown in here)</p>
<!--Googlemap-->

<!--<a href/add2cart?id=<%= restaurants.id %>>add to shopping cart</a>-->
<a href=/rate>Rate</a>
<a href=/change?id=<%= restaurants._id %>>Edit</a>
<a href=/remove>Delete</a>
<a href=/list>Go Back</a>


</BODY>
</HTML>
